.project__container {
  background-color: #f7f5f2;
  border-radius: 5px;
  padding: 1rem;
  width: auto;
  color: #1b1a17;
}

.project__title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
